.country{
    border: 2px solid steelblue;
    margin: 15px;
    padding: 5px;
    border-radius: 15px;
}

.visited{
    background-color: bisque;
}

.non-visited{
    background-color: burlywood;
}

.btn-1{
    margin-bottom: 10px;
}

.btn-2{
    margin-right: 20px;
    margin-bottom: 10px;
}